<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <!--        懒加载-->
        <setting name="lazyLoadingEnable" value="false"/>
    </settings>
<!--    <typeAliases>-->
<!--        <typeAlias type="com.szpt.szpc.cs.entity.league.League" alias="league"/>-->
<!--        <typeAlias type="com.szpt.szpc.cs.entity.college.Department" alias="department"/>-->
<!--        <typeAlias type="com.szpt.szpc.cs.entity.activity.Activity" alias="activity"/>-->
<!--        <typeAlias type="com.szpt.szpc.cs.entity.user.WxUser" alias="wxuser"/>-->
<!--        <typeAlias type="com.szpt.szpc.cs.data.define.request.LeagueRequest" alias="leaguerequest"/>-->
<!--    </typeAliases>-->
    <plugins>
        <plugin interceptor="com.viaas.docker.interceptor.MybatisInterceptor"/>
        <plugin interceptor="com.viaas.docker.interceptor.PrepareInterceptor"/>
        <!-- Add more interceptors if needed -->
    </plugins>
</configuration>
